<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>ToxicFitShop</h3>
      <p>Chăm sóc khách hàng: 0246.2591551</p>
      <p>Mua hàng online: 0246.2909098</p>
      <p>Email: toxicfitshop&#64;gmail.vn.com</p>
    </div>
    <div class="footer-column">
      <h3>Chính sách giao hàng - Vận chuyển</h3>
      <p>Hướng dẫn thanh toán</p>
      <p>Tra cứu đơn hàng</p>
      <p>Hướng dẫn chọn Size</p>
      <p>Quy định đổi hàng</p>
    </div>
    <div class="footer-column">
      <h3>Phương thức thanh toán</h3>
      <p>Internet Banking</p>
      <p>Thẻ ATM/Thẻ tín dụng/Thẻ ghi nợ</p>
      <p>Thanh toán khi nhận hàng COD</p>
      <p>QR Code</p>
    </div>
  </div>
</footer>
