<div class="product-card">
  <div class="product-image">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{ product.name }}" (error)="onImageError($event)" loading="lazy" />
    <div *ngIf="!product.imageUrl" class="placeholder-image">Hình ảnh sản phẩm</div>
  </div>
  <div class="product-info">
    <h3 class="product-name">
      <a [routerLink]="['/product', product.id]">{{ product.name }}</a>
    </h3>
    <p class="product-price">{{ product.price | customCurrency }}</p>
<!--    <p class="product-description">{{ product.description }}</p>-->
    <div class="button-group">
      <button class="add-to-wishlist" (click)="toggleWishlist(product)">
        {{ isInWishlist ? 'Đã yêu thích' : 'Yêu thích' }}
      </button>
      <button class="add-to-cart" (click)="addToCart(product)">Thêm vào giỏ</button>
    </div>
  </div>
</div>
